$text-color: #333333;
$background: #99ccff;

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.125rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.wrapper {
    display: grid;
    place-items: center;
}
.image-wrapper img {
    max-width: 120px;
}
button {
    background: chocolate;
    padding: 1rem;
    border-radius: .3rem;
    font-size: 1.25rem;
    font-weight: 600;
}
p {
    padding: 1.4rem;
    text-transform: uppercase;
}